.blog {
    text-align: center;
}

.blog h1 {
    text-align: center;
}

.blog .article {
    max-height: 200px;
    overflow: hidden;
}
.blog .article img {
    width: 10 0%;
    height:160px;
    
}