.blog {
    text-align: center;
}

.blog h1 {
    text-align: center;
}

.blog .article {
    max-height: 200px;
    overflow: hidden;
    
}
.blog .article .rte a img {
    width: 100%;
    max-height:200px;
    
}