.blog {
    text-align: center;
}

.blog h1 {
    text-align: center;
}

.blog .article {
    max-height: 200px;
    overflow: hidden;
    display: flex;
}
.blog .article .rte a img {
    width: 50%;
    height:200px;
    
}