{% paginate blog.articles by 9 %}

{% include 'breadcrumb' %}

<div class="grid grid-border blog">
  <aside class="sidebar grid-item large--one-fifth grid-border--left">
    {% include 'blog-sidebar' %}
  </aside>
  
  <div class="grid-item large--four-fifths">
    <div class="grid">
      <div class="grid-item large--ten-twelfths">
        
    
        {% for article in blog.articles %}
          
          {% if forloop.index == 1 or forloop.index == 4 or forloop == 7%}
            <div class="grid">
          {% endif %}  
          
          <div class="grid-item large--three-twelfths">
            
          <div>article.title</div>
          <div>{{forloop.index}}</div>
          </div>

          {% if forloop.index == 3 or forloop.index == 6 or forloop.index == blog.articles.size%}
          </div>
          {% endif %}  
          

        {% endfor %}

        {% if paginate.pages > 1 %}
        <hr>
        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
        {% endif %}    

      </div>
    </div>
  </div>

  
</div>

{% endpaginate %}
