{% paginate blog.articles by 9 %}

{% include 'breadcrumb' %}

<div class="grid grid-border blog">
  <aside class="sidebar grid-item large--one-fifth grid-border--left">
    {% include 'blog-sidebar' %}
  </aside>
  
  <div class="grid-item large--four-fifths">
    <div class="grid">
      <div class="grid-item large--ten-twelfths">
        
        
        {% for article in blog.articles %}
          
          {% if forloop.index == 0 or forloop.index == 3 %}
            <div class="grid">
          {% endif %}  
          <div class="grid-item large--three-twelfths">
            {{article.title}}
          </div>

          {% if forloop.index == 3 or forloop.index == 6 %}
          </div>
          {% endif %}  
          
        {% endfor %}

        {% if paginate.pages > 1 %}
        <hr>
        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  
</div>

{% endpaginate %}
